<div class="container">
  <form [formGroup]="createDocumentForm">

    <div class="flex-fields">
      <div>
        <mat-form-field class="margin-top" appearance="fill">
          <mat-label>Введите имя файла</mat-label>
          <input matInput formControlName="filename">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="margin-top" appearance="fill">
          <mat-label>Выберите статус</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of documentStatus"
                        [value]="status">{{status}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="margin-top" appearance="fill">
          <mat-label>Выберите директорию</mat-label>
          <mat-select formControlName="directory">
            <mat-option *ngFor="let directory of directoryEnum"
                        [value]="directory">{{directory}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
  </form>
</div>

