.back-button
{
  color: rgba(0, 0, 0, 0.56);
  border-radius: 5px;
  outline: 1px solid rgba(0, 0, 0, 0.12);
  outline-offset: -1px;
}

.back-button:hover
{
  background-color: rgb(238, 238, 238);
}
.submit-button
{
  color:white;
  background-color: #FF9900;
}

.submit-button:hover
{
  background-color: #f09103;
}

::ng-deep .mat-button-wrapper
{
  font-size: 12px;
}

.mat-dialog-actions
{
    display: flex;
    width: 195px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    flex-direction: row;
}