<!-- <script src="https://kit.fontawesome.com/8dff339f0e.js" crossorigin="anonymous"></script>
<input type="checkbox" id="nav-toggle" hidden>
<nav class="nav font">
    <label for="nav-toggle" class="nav-toggle" onclick>
      <a class="link"><fa-icon [icon]="faBars" class="padding-right"></fa-icon> Свернуть</a>
    </label>

  <ul>
    <li><a href="clients"> <fa-icon [icon]="faUserGroup" class="fa-xs padding-right" ></fa-icon> Клиенты</a>
    <li><a href="workspaces"> <fa-icon [icon]="faUserGroup" class="fa-xs padding-right" ></fa-icon> Пространства</a>
    <li><a href="bills1" class="padding">Счета</a>
    <li><a href="products" class="padding">Продукты</a>
    <li><a href="docs" class="padding">Документы</a>
 </ul>
</nav> -->
<app-nav-menu></app-nav-menu>
